<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.dao.RegLogCustomerDao">

    <!--用户登录-->
    <select id="Login" parameterType="Customer" resultType="String">
        CALL customer_login(#{cardNo}, #{password});
    </select>

    <!--用户注册-->
    <select id="Register" parameterType="Customer" resultType="String">
        CALL customer_regist(#{cardNo}, #{mobile}, #{password}, #{name});
    </select>

    <!--获取首页用户-->
    <select id="CatchAllCustomer" resultType="Customer">
        SELECT *
        FROM erp_customer;
    </select>

</mapper>