#top1{
    width: 100%;
    height: 10%;
    background-color: darkcyan;
    text-align: center;
    font-size: 50px;
    font-family: 华文隶书;
    letter-spacing: 10pt;
    color: mediumseagreen;
    float: left;
}
#top2{
    width: 100%;
    height: 90%;
    margin-top: 1px;
}
#top2-1{
    width: 15%;
    height: 100%;
    float: left;
    background-color: cadetblue;
}
#top2-2{
    width: 84%;
    height: 100%;
    background-color:gray;
    margin-top: 1px;
    margin-left: 0.5%;
    float: left;
    background-color: #255625;
}
#customer{
    height: 98%;
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
    background-color: #2B542C;
}

ul,li{ padding:0;margin:0;list-style:none}
span.glyphicon-plus{
    font-size: 25px;
    color: #5CB85C;
    margin-left: 10px;
}
button.btn-info{
    width: 80%;
}
button.btn-xs{
    width: 80%;
    margin-right: 30px;
}
ul.ul-gls{
    background-color: #5E5E5E;
}
li.li-gls{
    margin-top: 3px;
    margin-left: 30%;
}
#levels{
    margin-top: 5px;
}
